<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Здравствуйте {{name}},</p>
        <p>Пожалуйста, перейдите по ссылки для востановления пароля:</p>
        <a href="https://{{link}}">Сбросить пароль</a>
    </body>
</html>