<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Добрый день {{name}},</p>
        <p>Пожалуйста, подтвердите свою учетную запись, нажав на ссылку:</p>
        <a href="https://{{link}}">Подтвердить аккаунт</a>
    </body>
</html>